/*
 * alert styles
 * Copyright © 2022 App Nerds LLC
 */
.alert-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}

.alert-row {
  display: flex;
  justify-content: space-between;
}

.alert-col {
  flex: 1;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-col.top-left,
.alert-col.bottom-left {
  align-items: flex-start;
}

.alert-col.top-right,
.alert-col.bottom-right {
  align-items: flex-end;
}

.alert-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #000;
  border-radius: 4px;
  margin: 0px;
  transition: 0.3s all ease-in-out;
  pointer-events: all;
  border-left: 3px solid #8b8b8b;
  cursor: pointer;
	font-size: 1.2rem;
}

.alert-card.success {
  border-left: 3px solid #6ec05f;
}

.alert-card.warn {
  border-left: 3px solid #fed953;
}

.alert-card.info {
  border-left: 3px solid #1271ec;
}

.alert-card.error {
  border-left: 3px solid #d60a2e;
}

.alert-card .text-group {
  margin-left: 15px;
}

.alert-card h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 500;
}

.alert-card p {
  margin: 0;
}

@media(max-width: 768px){
  .alert-col { flex: unset; }
}


