:root {
	--dull-white: #eeeade;
	--section-background-color: #ccc4;
	--footer-background-color: #eee;
}

body {
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}

header {
	display: flex;
	width: 100%;
	padding: 2.5rem 2rem;
	position: sticky;
	top: 0;
	z-index: 1;
	align-items: center;
	height: 4rem;
	padding-right: 1.5rem;
	gap: 1rem;
	background-color: var(--primary-color);
	color: white;
}

header ul {
	display: flex;
	list-style: none;
	gap: 1rem;
}

header nav ul li {
	padding: 0 0.5rem;
}

header nav ul li a {
	color: var(--dull-white);
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

header nav ul li a:hover {
	color: white;
}

header nav ul li a i {
	width: 1.3rem;
	height: 1.3rem;
}

header h1,
header h1 a {
	color: white !important;
}

member-login-bar:last-child {
	margin-left: auto;
	margin-right: 2rem;
}

h2:first-child {
	margin-top: 0.5rem;
}

/*
 * Footer
 */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.4rem 1rem 0.8rem 1rem;
	color: var(--text-color);
	background-color: var(--footer-background-color);
	border-top: 1px solid var(--border-color);
	position: fixed;
	bottom: 0;
	width: 100%;
}

main {
	width: 100%;
	padding-bottom: 5rem;
}

.header-button-row {
	background-color: var(--header-button-row-background-color);
	padding: 0.7em;
}

.header-button-row button {
	padding: 0.4rem;
	border-radius: 0.25rem;
}

/*
 * Filters
 */
section.filters {
	background-color: var(--section-background-color);
	width: 100%;
	padding: 1rem;
	border: 1px solid var(--border-color);
	margin: 1rem 0 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem 1rem;
	opacity: 0.8;
}

section.filters input,
section.filters textarea,
section.filters select {
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 0.25rem;
}

section.filters input[type="checkbox"] {
	width: auto;
}

section.filters input:focus,
section.filters textarea:focus,
section.filters select:focus {
	border-color: var(--primary-color);
	outline: 0;
	box-shadow: 0 0 0 0.2rem var(--primary-color);
}
